@model List<Course>


<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Details</th>
    </tr>

    @foreach(var obj in Model){
        <tr>
            <td>@obj.Id</td>
            <td>@obj.Name</td>
            <td>@obj.Details</td>
        </tr>
    }


</table>
